Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -performance-avoid-endl,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-init-variables,
  -bugprone-exception-escape,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -performance-no-int-to-ptr
WarningsAsErrors: ''
HeaderFilterRegex: '(src|include)/.*'
FormatStyle: none
